<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Pilot</title>
</head>
<body>
    <h1>Hello!</h1>
    <h3>Tambah Pilot</h3>
    <form th:action="@{/pilot/add}" th:object="${pilot}" method="POST">
        <label>License Number:</label>
        <input type="text" name="licenseNumber" />
        <br>
        <label>Name:</label>
        <input type="text" name="name" />
        <br>
        <label>Fly Hour:</label>
        <input type="number" name="flyHour" />
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>