<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Flight</title>
</head>
<body>
    <h1>Hello!</h1>
        <h3 th:text="'Update Flight with flight Number : ' + ${flight.flightNumber}"></h3>
        <h4>Leave not updated fields blank</h4>
    <form th:action="@{/flight/update/{id}(id=${flight.id})}" th:object="${pilot}" method="POST">       
        <label>Flight Number:</label>
        <input type="text" name="flightNumber" th:value="${flight.flightNumber}" />
        <br>
        <label>Origin:</label>
        <input type="text" name="origin" th:value="${flight.origin}" />
        <br>
        <label>Destination:</label>
        <input type="text" name="destination" th:value="${flight.destination}" />
        <br>
        <label>Time:</label>
        <input type="text" name="time" th:value="${flight.time}" />
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>