<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Flights</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <h2>Flights</h2>
    <table style="width:100%">
    <tr>
    <th>Flight Number</th>
    <th>Origin</th> 
    <th>Destination</th>
    <th>Timestamp</th>
    <th>Pilot</th>
    <th>Pilot License</th>
  </tr>
<tr style="text-align:center;" th:each="flight: ${flight}">
    <td th:text="${flight.flightNumber}" />
    <td th:text="${flight.origin}" />
    <td th:text="${flight.destination}" />
    <td th:text="${flight.time}" />
        <td th:text="${flight.getPilotFlight().getName()}" />
        <td th:text="${flight.getPilotFlight().getLicenseNumber()}" />
    
    <td><a th:href="@{/flight/delete/{id}(id=${flight.id})}">Delete</a></td>
            <td><a th:href="@{/flight/update/{id}(id=${flight.id})}">Update</a></td>
    
</tr>
</table>
</br>
   
        <a href="/">Back to Home</a>
   
</body>
</html>