<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pilot.licenseNumber}"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <h3 th:text="'Pilot License Number : ' + ${pilot.licenseNumber}"></h3>
    <h3 th:text="'Name :' + ${pilot.name}"></h3>
    <h3 th:text="'Fly Hour: ' + ${pilot.flyHour}"></h3>
    <br>
    <h2>Flights</h2>
    <table style="width:100%">
    <tr>
    <th>No</th>
    <th>Flight Number</th>
    <th>Origin</th> 
    <th>Destination</th>
    <th>Timestamp</th>
    <th>Pilot</th>
    <th>Pilot License</th>
  </tr>
<tr style="text-align:center;" th:each="flight,iterStatus: ${pilot.getPilotFlight()}">
	<td th:text="${iterStatus.count}" />
    <td th:text="${flight.flightNumber}" />
    <td th:text="${flight.origin}" />
    <td th:text="${flight.destination}" />
    <td th:text="${flight.time}" />
    <td><a th:href="@{/flight/delete/{id}(id=${flight.id})}">Delete</a></td>
            <td><a th:href="@{/flight/update/{id}(id=${flight.id})}">Update</a></td>
    
</tr>
</table>
</br>
        <a th:href="'/flight/add/'+${pilot.licenseNumber}">Add Flight</a>
                <a th:href="'/pilot/update/'+${pilot.licenseNumber}">Update Pilot Data</a>
                <a th:href="@{/pilot/delete/{id}(id=${pilot.id})}">Delete Pilot Data</a>

        <a href="/">Back to Home</a>
   
</body>
</html>